header {background-color:#20c5b0;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:white
}
nav{background-color:#4ed8c7;
padding: 10px;

}
nav ul {
    list-style-type: none;
    overflow: hidden;
}
nav li{
    float: left;
}
nav li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav li :hover {
    background-color:skyblue
}


body{
    padding: 20px;
    width: auto;
    background-color:#20a594
    ;
}

